body {
 	font-family: helvetica;
 }

header {
  padding: 154px 0 100px;
  background-image: url("../figures/header.jpg"); 
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 200px;
  }
}

section {
  padding: 150px 0;
}

.teamBio {
	margin-top: 20px;
}

#navTitle {
	font-family: helvetica;
}

#bio-images div img{
  width: 150px;
}

nav{
	color: white;
}

footer {
 	color: white;
}

h2 {
	text-align: center;
}

